<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exam7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exam7_1"/>
        <activity android:name=".examTest7_1"/>
        <activity android:name=".exam7_7"/>
        <activity android:name=".examTest7_2"/>
        <activity android:name=".exam7_12"/>
        <activity android:name=".exam7_14"/>
        <activity android:name=".exam7_18"/>
        <activity android:name=".exam7_21"/>
    </application>

</manifest>